---
layout: home
title: My Certifications
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/certifications.css">

<div class="category-posts">
    {% assign custom_order = "Machine Learning & AI, Data Structures and Algorithms, Programming Language, Database, Operating Systems, Software Development" | split: ", " %}
    {% assign grouped_certifications = site.certifications | group_by: "category" %}

    {% for category in custom_order %}
        {% assign group = grouped_certifications | where: "name", category | first %}
        {% if group %}
            <div class="category-container">
                <h2>{{ group.name }}</h2>
                <div class="certifications-container">
                    <ul>
                        {% assign sorted_certifications = group.items | sort: 'date' | reverse %}
                        {% for certification in sorted_certifications %}
                            <li id="{{ certification.title | escape | uri_escape }}"> <!--auto gen idf from serach and point to title -->
                                <strong>{{ certification.title }}</strong> - {{ certification.date | date: "%B %d, %Y" }},
                                <span>by: {{ certification.issuer }}</span>
                                <br>
                                <button class="toggle-btn" onclick="toggleContent(this)">Summary</button>
                                <a class="certification-link" href="{{ certification.certification_url }}" target="_blank">
                                    <span class="link-btn">Certification link</span>
                                </a>
                                <div class="certification-content" style="display: none;">
                                    <p>{{ certification.content }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<script>
    // Scroll to specific certification if hash is present in the URL
    document.addEventListener("DOMContentLoaded", () => {
        const hash = window.location.hash.substring(1); // Get the fragment identifier
        if (hash) {
            const targetElement = document.getElementById(decodeURIComponent(hash));
            if (targetElement) {
                // Smooth scroll to the element
                targetElement.scrollIntoView({ behavior: "smooth" });
            }
        }
    });
</script>