---
layout: home
title: Computer Vision
category: Computer Vision
---

{% for post in site.categories[page.category] %}
<div class="project">
    <div class="pj_title">
        <h2><a class="pj_name" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="pj_tag">#
            {% for category in post.categories %}
                {% if category contains " " %}
                    <a class="pj_tag" href="{{ category | downcase | replace: " ", "-" }}.html">{{ category }}</a>
                {% else %}
                    <a class="pj_tag" href="{{ category | downcase }}.html">{{ category }}</a>
                {% endif %}
            {% endfor %}
        </p>
    </div>
    {% if post.image contains "https:" %}
        <img src="{{ post.image }}" width="100" height="100" alt="{{ post.title }} title image">
    {% else %}
        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }} title image">
    {% endif %}
    <p class="pj_desc">{{ post.excerpt }}</p>
    <p class="pj_date_and_read">{{ post.date | date: "%b %d, %Y" }} · {{ post.read_time }} min read 
        <a class="pj_page" href="{{ site.baseurl }}{{ post.url }}" target="_blank">
            <span class="read-more">Read more</span>
        </a>
    </p>
</div>
{% endfor %}