<aside class="sidebar">
    <div class="sidebar-header">
        <img src="{{ '/assets/image/SK_2.png' | relative_url }}" alt="SK icon" />
        <p>Somchai<br>Kradingthong</p>
    </div>
    <ul>
        <!-- Dark mode toggle button -->
        <button id="dark-mode-toggle" aria-label="Toggle dark mode" data-tooltip="Switch to dark mode">
            <span id="dark-mode-icon" class="material-symbols-outlined">dark_mode</span>
        </button>
    </ul>
    <ul class="sidebar-links">
        <li>
            <a href="{{ '/' | relative_url }}">
                <span class="material-symbols-outlined" alt="home icon"> home </span>
                Home
            </a>
        </li>
        <li class="has-sublist">
            <a href="#" class="toggle-sublist" onclick="myFunction()">
                <span class="material-symbols-outlined" alt="project icon"> summarize </span>
                Project
            </a>
            <ul class="sublist">
                <li><a href="{{ '/ai.html' | relative_url }}">Artificial Intelligence (AI)</a></li>
                <li><a href="{{ '/ml.html' | relative_url }}">Machine Learning (ML)</a></li>
                <li><a href="{{ '/dl.html' | relative_url }}">Deep Learning (DL)</a></li>
                <li><a href="{{ '/computer-vision.html' | relative_url }}">Computer Vision</a></li>
                <li><a href="{{ '/nlp.html' | relative_url }}">Natural Language<br>Processing (NLP)</a></li>
                <li><a href="{{ '/da.html' | relative_url }}">Data Analysis (DA)</a></li>
                <li><a href="{{ '/misc.html' | relative_url }}">Miscellaneous (Misc)</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ '/about.html' | relative_url }}">
                <span class="material-symbols-outlined" alt="info icon"> info </span>
                About
            </a>
        </li>
    </ul>
</aside>