<aside class="sidebar">
    <div class="sidebar-header">
        <img src="{{ site.baseurl }}/assets/image/SK_2.png" alt="SK icon">
        <p>Somchai<br>Kradingthong</p>
    </div>
    <ul>
        <!-- Dark mode toggle button -->
        <button id="dark-mode-toggle" aria-label="Toggle dark mode" data-tooltip="Switch to dark mode">
            <span id="dark-mode-icon" class="material-symbols-outlined">dark_mode</span>
        </button>
    </ul>
    <ul class="sidebar-links">
        <li>
            <a href="{{ site.baseurl }}/">
                <span class="material-symbols-outlined" alt="home icon"> home </span>
                Home
            </a>
        </li>
        <li class="has-sublist">
            <a href="#" class="toggle-sublist" onclick="myFunction()">
                <span class="material-symbols-outlined" alt="project icon"> summarize </span>
                Project
            </a>
            <ul class="sublist">
                <li><a href="{{ site.baseurl }}/ai.html">Artificial Intelligence (AI)</a></li>
                <li><a href="{{ site.baseurl }}/ml.html">Machine Learning (ML)</a></li>
                <li><a href="{{ site.baseurl }}/dl.html">Deep Learning (DL)</a></li>
                <li><a href="{{ site.baseurl }}/computer-vision.html">Computer Vision</a></li>
                <li><a href="{{ site.baseurl }}/nlp.html">Natural Language<br>Processing (NLP)</a></li>
                <li><a href="{{ site.baseurl }}/da.html">Data Analysis (DA)</a></li>
                <li><a href="{{ site.baseurl }}/misc.html">Miscellaneous (Misc)</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/about.html">
                <span class="material-symbols-outlined" alt="info icon"> info </span>
                About
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/certifications.html">
                <span class="material-symbols-outlined" alt="certificate icon"> License </span>
                Certifications
            </a>
        </li>
    </ul>
</aside>
