.category-posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    margin: 10px;
}

.category-container {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #7a97b5;
    margin-bottom: 10px;
}

.dark-mode .category-container {
    background-color: #242424;
    color: #c9c9c9;
    box-shadow: 0 0 10px #313131;
}

.certifications-container ul {
    list-style-type: disc; /* Ensure bullets are shown */
    padding: 0;
    margin-left: 30px;
    margin-right: 10px;
}

.certifications-container > ul > li {
    margin-top: 20px;
}

.certifications-container strong {
    font-size: 1.1em;
}

.certifications-container p {
    margin-top: 5px;
}

.dark-mode .certifications-container p {
    color: #c9c9c9;
}

.toggle-btn {
    margin-right: 16px;
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
    text-align: center; 
    display: inline-block; 
    width: 80px; 
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #7a97b5;
}

.toggle-btn:hover {
    background-color: #7a97b5;
    color: #fff;
}

.dark-mode .toggle-btn {
    background-color: #484848;
    color: #c9c9c9;
    box-shadow: 0 0 10px #5c5c5c;
}

.dark-mode .toggle-btn:hover {
    background-color: #5c5c5c;
}

a.certification-link {
    text-decoration: none;
    color: inherit;
}

span.link-btn {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #43b2f3;
    font-size: 0.9rem;
}

span.link-btn:hover {
    background-color: #1e87c4;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 0.9rem;
    color: #fff;
}