<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Somchai Kradingthong</title>
    <!-- Linking Google Font Link For Icons -->
    <link rel="stylesheet" 
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Linking static CSS File -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- Linking favicon -->
    <link rel="icon" type="image/x-icon" href="/static/asssets/favicon/SK_8.ico" alt="SK icon">
    <!-- Load JS File -->
    <script src="/static/js/loadSection.js" defer></script>
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <div id="page-container">
        <div id="sidebar"></div>
        <header id="main-page-header">
            <div>
                <h1>About Me</h1>
            </div>
        </header>
        <div id="about-container">
            <div class="a-text">
                <span class="a-head">Hi, I am Somchai Kradingthong <span>
                <br><br>
                <span class="a-body">
                    I share the work I'm passionate about, from developing artificial intelligence 
                    and other cutting-edge technology to understanding current trends in the field. 
                    Additionally, you'll find other projects related to other area in technology.
                    <br><br>
                    I am currently seeking opportunities as an Artificial Intelligence Engineer or Machine Learning Engineer, 
                    and I am open to other intriguing roles in the tech field. 
                </span>
            </div>
            <div class="a-contact">
                <span><h3>Contact me</h3></span>
                    <span>
                        <br>
                        <a class="link" href="mailto:somchai.kdt@gmail.com">
                        <img class="social" src="/static/asssets/img/mail_2.png" alt="mail icon">
                            </a>
                        </span>
                    <span>
                        <a class="link" href="https://www.linkedin.com/in/somchai-kradingthong-b1693b144/" target="_blank">
                            <img class="social" src="/static/asssets/img/linkedin_2.png" alt ="linkedin icon" style="width: auto;">
                            </a>
                        </span>
                    <span>
                        <a class="link" href="https://github.com/sencesco" target="_blank">
                            <img class="social" src="/static/asssets/img/github_2.png" alt ="github icon" style="width: auto;">
                            </a>
                        </span>
                    <span>
                        <br><br><br>
                        Can download my CV <a href="/static/asssets/cv/somchai_cv.pdf" target="_blank">here</a>
                    </span> 
            </div>
            <div class="a-img">
                    <img class="about-img" src="/static/asssets/img/about.jpg" alt="image of Somchai Kradingthong">
            </div>
        </div>
    </div>
    <!-- Placeholder for the footer -->
    <div id="footer"></div>
</body>
</html>