<footer>
    <div class="grid-container">
        <div class="grid-item">
            <span class="description">
                <h3>Welcome to My Blog</h3>
                <br>
                <p>You can find more about my working.</p>
            </span>
        </div>
        <div class="grid-item-2">
            <span >
                <h3>Contact Me</h3>
                <br>
                <span>
                    <a class="link" href="mailto:somchai.kdt@gmail.com">
                        <img class="social" src="/static/asssets/img/mail.png" alt ="mail icon">
                        </a>
                    </span>
                <span>
                    <a class="link" href="https://www.linkedin.com/in/somchai-kradingthong-b1693b144/" target="_blank">
                        <img class="social" src="/static/asssets/img/linkedin.png" alt ="linkedin icon">
                        </a>
                    </span>
                <span>
                    <a class="link" href="https://github.com/sencesco" target="_blank">
                        <img class="social" src="/static/asssets/img/github.png" alt ="github icon">
                        </a>
                    </span>
            </span>
        </div>
        <div class="grid-item">
            <span id="currentDateTime">
                <!-- Current time will be displayed here -->
                <!-- Copy right-->
            </span>
        </div>
        <!-- 
        <div class="grid-item">3</div>  
        -->
    </div>
</footer>
    