<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/static/asssets/img/SK_2.png" alt="logo with SK icon" />
        <p>Somchai<br>Kradingthong</p>
    </div>
    <ul>
        <!-- Dark mode toggle button -->
        <button id="dark-mode-toggle" aria-label="Toggle dark mode" data-tooltip="Switch to dark mode">
            <span id="dark-mode-icon" class="material-symbols-outlined">dark_mode</span>
        </button>
    </ul>
    <ul class="sidebar-links">
        <li>
            <a href="../index.html">
                <!-- calling google icon -->
                <span class="material-symbols-outlined" alt="home icon"> home </span>
                Home
            </a>
        </li>
        <li class="has-sublist">
            <a href="#" class="toggle-sublist" onclick="myFunction()">
                <span class="material-symbols-outlined" alt="project icon"> summarize </span>
                Project
            </a>
            <ul class="sublist">
                <li><a href="#">Artificial Intelligence (AI)</a></li>
                <li><a href="#">Machine Learning (ML)</a></li>
                <li><a href="#">Deep Learning (DL)</a></li>
                <li><a href="#">Computer Vision</a></li>
                <li><a href="#">Natural Language<br>Processing (NLP)</a></li>
                <li><a href="#">Data Analysis (DA)</a></li>
                <li><a href="#">Miscellaneous (Misc.)</a></li>
            </ul>
        </li>
        <li>
            <a href="../templates/about.html">
                <span class="material-symbols-outlined" alt="info icon"> info </span>
                About
            </a>
        </li>
    </ul>
</aside>