<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if page.url == "/" %}
            {{ site.title }}
        {% else %}
            {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
        {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon/SK_8.ico" alt="SK icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <script src="{{ site.baseurl }}/assets/js/loadSection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</head>
<body></body>
    <div id="page-container">
        <div id="sidebar">
            {% include sidebar.html %}
        </div>
        <header id="main-page-header">
            <div>
                <h1>{{ page.title }}</h1>
            </div>
        </header>
        <div id="about-container">
            <div class="a-text">
                <span class="a-head">Hi, I am Somchai Kradingthong <span>
                <br><br>
                <span class="a-body">
                    {{ content }}
                </span>
            </div>
            <div class="a-contact">
                <span>
                    <span>Can download here's </span>
                    <a class="a-link" href="{{ site.baseurl }}/assets/cv/somchai-kra_cv.pdf" 
                    target="_blank">My Resume/CV</a>
                    <br>
                    <span>Can check out here's </span>
                    <a class="a-link" href="{{ site.baseurl }}/certifications.html">
                        My Certifications</a>
                </span>
                <br><br>
                <span><h3>Contact me</h3></span>
                <p style="margin: 10px;"></p>
                <span>
                    <a class="link" href="mailto:somchai.kdt@gmail.com">
                        <img class="social" src="{{ site.baseurl }}/assets/image/mail_2.png" alt="mail icon">
                    </a>
                </span>
                <span>
                    <a class="link" href="https://www.linkedin.com/in/somchai-kradingthong-b1693b144/" target="_blank">
                        <img class="social" src="{{ site.baseurl }}/assets/image/linkedin_2.png" alt ="linkedin icon" style="width: auto;">
                    </a>
                </span>
                <span>
                    <a class="link" href="https://github.com/sencesco" target="_blank">
                        <img class="social" src="{{ site.baseurl }}/assets/image/github_2.png" alt ="github icon" style="width: auto;">
                    </a>
                </span>
            </div>
            <div class="a-img">
                <img class="about-img" src="{{ site.baseurl }}/assets/image/about.jpg" alt="image of Somchai Kradingthong">
            </div>
        </div>
    </div>
    <!-- Placeholder for the footer -->
    <div id="footer">
        {% include footer.html %}
    </div>
</body>
</html>