<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if page.url == "/" %}
            {{ site.title }}
        {% else %}
            {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
        {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon/SK_8.ico" alt="SK icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <script src="{{ site.baseurl }}/assets/js/loadSection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</head>    
<body>
    <div id="page-container">
        <div id="sidebar">
            {% include sidebar.html %}
        </div>
        <header>
            <div id="main-page-header">
                <h1>{{ page.title }}</h1>
            </div>
        </header>
        <div id="project-container">
            {{ content }}
        </div>
    </div>
    <div id="footer">
        {% include footer.html %}
    </div>
</body>
</html>