<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if page.url == "/" %}
            {{ site.title }}
        {% else %}
            {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
        {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon/SK_8.ico" alt="SK icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <script src="{{ site.baseurl }}/assets/js/loadSection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</head>
<body>
    <div id="page-container">
        <div id="sidebar">{% include sidebar.html %}</div>
        <div id="content-page">
            <!-- "c-s-xxx" 
                 c=content, s=section, xxx=name of section -->
            <div class="c-s-name">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="c-s-tag">
                <p class="c-s-tag-text">#
                    {% for category in page.categories %}
                        <a class="c-s-tag-link" href="{{ site.baseurl }}/{{ category | downcase }}.html">{{ category }}</a>
                        {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
            </div>
            <div id="c-s-date">
                <p>{{ page.date | date: "%B %d, %Y" }} · 
                    <span id="c-s-date-mread">{{ page.read_time }} min read</span>
                </p>
                <span class="c-s-date-stext">
                    {% if page.github-repo %}
                        <span class="material-symbols-outlined">open_in_new</span>
                        <a class="c-s-date-stext-link" 
                           href="{{ page.github-repo }}" 
                           target="_blank">Github</a>
                    {% endif %}
                    
                    {% if page.colab-link %}
                        <span class="material-symbols-outlined">open_in_new</span>
                        <a class="c-s-date-stext-link"  
                           href="{{ page.colab-link }}" 
                           target="_blank">Colab</a>
                    {% endif %}
                </span>
            </div>
            
            <div id="c-s-imgHead">
                <img src="{{ site.baseurl }}{{ page.image-content }}" alt="{{ page.title }}">
            </div>
            <!-- Example of content table in YY-MM-DD-projectName.markdown
            <div id="c-s-hlist">
                <ul>
                    <li><a href="#intro">What is Performance Measurement?</a></li>
                    <li><a href="#content">Main</a></li>
                </ul>
            </div> -->
            <div class="c-s-content">
                {{ content }}
            </div>
            <div id="c-s-social">
                <div id="c-s-social-share">
                    <hr>
                    <span class="share-container">
                        Share:
                        <button class="share-button-x" onclick="shareTwitter()">
                            <img class="share-icon" src="{{ site.baseurl }}/assets/image/X_icon.svg" alt="Twitter Icon">
                            Tweet
                        </button>
                        <button class="share-button-fb" onclick="shareFacebook()">
                            <img class="share-icon" src="{{ site.baseurl }}/assets/image/facebook.png" alt="Facebook Icon">
                            Share
                        </button>
                        <button class="share-button-lnk" onclick="shareLinkedin()">
                            <img class="share-icon" src="{{ site.baseurl }}/assets/image/linkedin_3.png" alt="Linkedin Icon">
                            Share
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">{% include footer.html %}</div>
</body>
</html>
