<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if page.url == "/" %}
            {{ site.title }}
        {% else %}
            {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
        {% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon/SK_8.ico" alt="SK icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post_ipynb.css">
    <script src="{{ site.baseurl }}/assets/js/loadSection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
</head>
<body>
    <div id="page-container">
        <div id="sidebar">{% include sidebar.html %}</div>
        <div id="content-page">
            <!-- "c-s-xxx" 
                 c=content, s=section, xxx=name of section -->
            <div class="c-s-name">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="c-s-tag">
                <p class="c-s-tag-text">#
                    {% for category in page.categories %}
                        {% if category contains " " %}
                            <a class="c-s-tag-link" href="{{ site.baseurl }}/{{ category | downcase | replace: " ", "-" }}.html">{{ category }}</a>
                        {% else %}
                            <a class="c-s-tag-link" href="{{ site.baseurl }}/{{ category | downcase }}.html">{{ category }}</a>
                        {% endif %}
                        {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
            </div>
            <div id="c-s-date">
                <p>{{ page.date | date: "%B %d, %Y" }} · 
                    <span id="c-s-date-mread">{{ page.read_time }} min read</span>
                </p>
                <span class="c-s-date-stext">
                    {% if page.github-repo %}
                        <a class="c-s-date-stext-link" href="{{ page.github-repo }}" target="_blank">
                            <span class="material-symbols-outlined">open_in_new</span>
                            Github</a>
                    {% endif %}
                    
                    {% if page.colab-link %}
                        <a class="c-s-date-stext-link"  href="{{ page.colab-link }}" target="_blank">
                            <span class="material-symbols-outlined">open_in_new</span>
                            Colab</a>
                    {% endif %}
                </span>
            </div>
            {% if page.image-content %}
                <div id="c-s-imgHead">
                        {% if post.image contains "https:" %}
                            <img src="{{ page.image-content }}" alt="{{ page.title }} content image">
                        {% else %}
                            <img src="{{ site.baseurl }}{{ page.image-content }}" alt="{{ page.title }} content image">
                        {% endif %}
                </div>
            {% endif %}
            <!-- Example of content table in YY-MM-DD-projectName.markdown
            <div id="c-s-hlist">
                <ul>
                    <li><a href="#intro">What is Performance Measurement?</a></li>
                    <li><a href="#content">Main</a></li>
                </ul>
            </div> -->
            <div class="c-s-content">
                {{ content }}
            </div>
            <div id="c-s-social">
                <div id="c-s-social-share">
                    <hr>
                    <span class="share-container">
                        Share:
                        <button class="share-button-x" onclick="shareTwitter()">
                            <img class="share-icon" src="{{ site.baseurl }}/assets/image/X_icon.svg" alt="Twitter Icon">
                            Tweet
                        </button>
                        <button class="share-button-fb" onclick="shareFacebook()">
                            <img class="share-icon" src="{{ site.baseurl }}/assets/image/facebook.png" alt="Facebook Icon">
                            Share
                        </button>
                        <button class="share-button-lnk" onclick="shareLinkedin()">
                            <img class="share-icon" src="{{ site.baseurl }}/assets/image/linkedin_3.png" alt="Linkedin Icon">
                            Share
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">{% include footer.html %}</div>
</body>
</html>
